@media screen and (max-width: 770px) {
    .banner-text h1 {
        font-size: 45px;
    }

    .banner-btn a {
        display: block;
        margin: 20px auto;
    }

    .title h1 {
        font-size: 35px;
    }

    .features {
        flex-basis: 100%;
    }

    .features-img {
        flex-basis: 110%;
    }

    .features-img img {
        width: 100%;
        border-radius: 10px;
    }

    .s-service {
        flex-basis: 192px;
        margin-bottom: 30px;
        left: -4%;
    }

    .s-service img {
        width: 120%;
        border-radius: 7px;
    }

    .s-d P {
        font-size: 12px;
    }

    hr {
        margin: 5px auto;
    }

    .overlay {
        width: 120%;
        height: 96%;
    }

    .s-d {
        width: 118%;
        position: absolute;
        left: 59%;
        top: 16%
    }

    .test-col{
        flex-basis: 100%;
    }

    .footerL,.footerR{
        flex-basis: 100%;
        font-size: 14px;
    }
}

@media screen and (max-width: 820px) {
    .s-d {
        width: 94%;
        position: absolute;
        left: 52%;
        top: 16%;
    }
}
@media screen and (max-width: 768px){
    .s-service {
        flex-basis: 217px;
        margin-bottom: 30px;
        left: -4%;
    }
}
